In [67]:
# interesting to create a column IsGroup ? from market segment
# Is assigned room same than reserved room ?

In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [69]:
dataset = pd.read_csv('hotel_bookings.csv')
dataset.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [70]:
dataset.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [71]:
dataset.drop(['company', 'arrival_date_week_number', 'reservation_status',
              'reservation_status_date', 'arrival_date_month', 'arrival_date_year',
              'arrival_date_day_of_month'], axis=1, inplace=True)

In [72]:
dataset.dropna(subset=['country'], inplace=True)

In [73]:
dataset = dataset[dataset['adr'] != 5400]

In [74]:
# for agent that appears less than 100 times, replace by a number that corresponds to others
agent_count = dataset['agent'].value_counts()
agent_count = agent_count[agent_count < 100]
agent_count = agent_count.index.tolist()

# search the highest number in agent
max_agent = dataset['agent'].max()
max_agent = max_agent + 1

dataset['agent'].replace(agent_count, max_agent, inplace=True)

In [75]:
# count agent
dataset['agent'].value_counts()

agent
9.0      31960
240.0    13871
1.0       7191
536.0     5212
14.0      3639
         ...
146.0      120
35.0       109
94.0       108
220.0      104
36.0       100
Name: count, Length: 85, dtype: int64

In [76]:
# create a column is reserved_room_type same than assigned_room_type
dataset['is_room_same'] = np.where(dataset['reserved_room_type'] == dataset['assigned_room_type'], 1, 0)

In [77]:
dataset.head()

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,...,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,is_room_same
0,Resort Hotel,0,342,0,0,2,0.0,0,BB,PRT,...,C,3,No Deposit,NaN,0,Transient,0.0,0,0,1
1,Resort Hotel,0,737,0,0,2,0.0,0,BB,PRT,...,C,4,No Deposit,NaN,0,Transient,0.0,0,0,1
2,Resort Hotel,0,7,0,1,1,0.0,0,BB,GBR,...,C,0,No Deposit,NaN,0,Transient,75.0,0,0,0
3,Resort Hotel,0,13,0,1,1,0.0,0,BB,GBR,...,A,0,No Deposit,536.0,0,Transient,75.0,0,0,1
4,Resort Hotel,0,14,0,2,2,0.0,0,BB,GBR,...,A,0,No Deposit,240.0,0,Transient,98.0,0,1,1

In [78]:
# export dataset
dataset.to_csv('hotel_bookings_clean.csv', index=False)